*{ /*tira a margem de tudo, * é um seletor universal*/
  margin: 0;
}
html, body {
  --black: hsl(240,6%,13%);
  --grey: hsl(240,9%,89%); /*forma de declarar variavel, h(HUE) s(saturação) l(luz)*/
  height: 100%;
  font-family: 'Roboto', sans-serif; /*se n achar o roboto, ele coloca uma fonte que n tem tracinho*/
  -webkit-font-smoothing: antialiased; /*para navegadores webkit, a fonte fica suave*/
}
body { /*Refere-se ao fundo*/
  display: grid; /*Forma de posicionar os elementos, nesse caso separou em 3 blocos, serve pra trabalhar layout*/
  place-items: center; /*Posiciona os elementos no centro*/
  }
/*main { tiramos isso pra colocar a main de baixo
  background: url("img/background.svg");
  width: 375px;
  height: 812px;
}*/
main {
  background: url(img/background.svg) no-repeat center/cover;
  width: 100vw; /*view port é a tela do dispositivo, isso adapta o fundo, ou seja, divide em 100 e ocupa, se n colocar no-repeat center/cover, ele repete a imagem para completar a tela, n centraliza e n cobriria tudo*/
  min-height: 812px; /*altura minima, se for menor, ele coloca o cursor para ver tudo*/
  height: 100vh; /*largura da view port, ele se adapta a qq tela*/
}
.container { /*se olhar no inspecionar, no navegador, vemos a questão de box model (margens)*/
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
  }
.avatar {
  width: 10rem;
  margin: 11.5rem auto 0; /*cima, direita, esquerda e baixo, essa alturas ve no figma, o auto centraliza as coisas*/
  position: relative; /*colocando o span abaixo, tudo relacionado ao selo sera alterado com base na imagem de perfil*/
}
.avatar span { 
  position: absolute; /*deixa o selo em cima da imagem*/
  top: -15px; /*em relação a foto de perfil*/
  z-index: 1; /*vetor de profundidade*/
}
.avatar > img { /*> diz que é a imagem q ta no primeiro nivel no html, ou seja, a imagem de perfil*/
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /*tira a distorção na imagem causada pelas definições acima*/
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); /*pesquisa glipy css e escolhe o shape*/
}
h1 { /*h1 é o nome do titulo que criamos*/
  font-size: 1.5rem; /*Altera o tamanho da fonte do titulo que chamamos de h1*/
  margin-top: 1,5rem;
}
a { /*a é o nome do elemento com link que criamos*/
  text-decoration: none; /*Altera o estilo do elemento a*/
  font-size: 1rem; /*Altera o tamanho da fonte do link que chamamos de a*/
  margin-top: 0.25rem;
  color:var(--grey);
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center; /*garante que ta no centro*/
}
p {
  margin-top: 2rem;
}
ul {
  margin-top: 4rem;
  list-style: none; /*retira ponto da lista*/
  padding: 0; /*retira o preenchimento*/
  display: flex; /*deixa os icones um do lado do outro*/
  gap: 0.5rem; /*espaço entre os icones*/
  justify-content: center; /*centraliza todos os icones no eixo x*/
}